body{
    margin: 0;
    padding: 0;
}

.main{
  background-color: #1f1f1f;
  color: #ffffff;
  margin: 0;
  padding:  0;
  max-width: 100%;
  height: 100vh;
}

.main h1{
    padding-top: 0;
    color: bisque;
    font-size: 45px;
}

.inp-box{
    background-color: #140c17;
    padding: 20px;
}

.lb-inp{
    display: flex;
    flex-direction: column;
    color: beige;
    gap: 6px;
}

.chk .form-check-input{
    /* font-size: 18px; */
    /* width: 35px; */
    width: 1.5em;
    height: 1.2em;
    margin-left: 18px;
    margin-top: 9px;
    /* transform: scale(1.5); */
}

.cr-para{
    margin-left: 18px;
}

.cd-txt{
    word-wrap: break-word;
    padding: 0;
}

.inp{
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 75%;
    font-size: 18px;
    margin-left: 9px;
    margin-top: 9px;
}

.inp:focus{
    outline: 1px solid #1f1f1f;
    border: none;
}

.btn{
    padding: 5px 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    margin-left: 9px;
    margin-top: 9px;
}

.dt-box{
    background-color:#302432;
    padding: 20px;
    gap: 20px;
}


.del-box{
    text-decoration: line-through;
}

.warning-line{
    font-size: 18px;
    color: red;
    margin-left: 11px;
}

.succes-line{
    font-size: 18px;
    color: green;
    margin-left: 11px;
}

.card{
    background-color: #4e4651;
    padding: 10px;
    min-width: 220px;
    max-width: 480px;
    border-radius: 18px;
}

.card-o{
    background-color: #7d7582;
    opacity: 0.3;
}

.card-side{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.edt-btn{
  border-radius: 18px;
  background-color: yellow;
  opacity: 0.6;
  margin-bottom: 9px;
}

.del-btn{
  background-color: red;
  opacity: 0.6;
  border-radius: 18px;
}